In [27]:
import numpy as np
import pandas as pd

In [28]:
myData = pd.read_csv('favoriteMovies2022_raw.csv')

In [29]:
myData

,Participant,Rank,Movie Title,ReleaseDate,ProductionCompany,Director,Rating,Genre,Runtime,Budget,GrossSales,NumAcadAwards,TomatometerScore
0,1,1,The Big Lebowski,3/6/1998,Polygram,Joel Coen,R,Comedy,117,15000000.0,18254458,0,0.83
1,1,2,Lost In Translation,10/3/2003,Focus Features,Sofia Coppola,R,Drama,102,4000000.0,44585453,1,0.95
2,1,3,Star Wars: Episode IV - A New Hope,5/25/1977,Lucasfilm,George Lucas,PG,Adventure,121,11000000.0,460998507,6,0.93
3,1,4,O Brother Where Art Thou?,12/22/2000,Touchstone Pictures,Joel Coen,PG-13,Comedy,107,26000000.0,45512588,0,0.79
4,1,5,Blade Runner,6/25/1982,Warner Bros.,Ridley Scott,R,Mystery,117,30000000.0,32914489,0,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,12,6,Olympus Has Fallen,3/18/2013,Millenium Media,Antoine Fuqua,R,Action,120,70000000.0,170300000,0,0.50
116,12,7,Searching,8/31/2018,Bazelevs Company,Aneesh Chaganty,PG-13,Mystery,102,880000.0,75500000,0,0.92
117,12,8,Inception,7/13/2010,Warner Bros. Pictures,Christopher Nolan,PG-13,Sci-fi,148,160000000.0,836800000,4,0.87
118,12,9,Black Panther,2/16/2018,Marvel Studios,Ryan Coogler,PG-13,Action,135,200000000.0,1344000000,3,0.96
119,12,10,Transformers,7/3/2007,DreamWorks Pictures,Michael Bay,PG-13,Action,144,147000000.0,709700000,4,0.58

In [30]:
myData.dtypes # dtype means data type

Participant            int64
Rank                   int64
Movie Title           object
ReleaseDate           object
ProductionCompany     object
Director              object
Rating                object
Genre                 object
Runtime                int64
Budget               float64
GrossSales            object
NumAcadAwards          int64
TomatometerScore     float64
dtype: object

In [31]:
for aCol in myData.columns:
    print(str(sum(myData[aCol].isna())) + " missing values for column " + aCol)
    # This isna() searches for missing values

0 missing values for column Participant
0 missing values for column Rank
0 missing values for column Movie Title
0 missing values for column ReleaseDate
1 missing values for column ProductionCompany
0 missing values for column Director
1 missing values for column Rating
0 missing values for column Genre
0 missing values for column Runtime
6 missing values for column Budget
1 missing values for column GrossSales
0 missing values for column NumAcadAwards
1 missing values for column TomatometerScore

In [32]:
myData['Budget'] = myData['Budget'].fillna(np.nanmedian(myData['Budget'])) 
# Instead of filling missing budget with zero it fills the missing budgets with median budget value
# The .fillna method returns a new column, so we assign it to the same column/original data sheet

In [33]:
# When you take a median value of a list or array with missing values, the answer is a missing value or NaN
# Having nanmedian will give the median of a list and ignore the NaN values

In [35]:
print(myData.Rating.value_counts()) 
myData.Rating = myData.Rating.replace('R ', 'R')
myData.Rating = myData.Rating.replace('PG ', 'PG')
print(myData.Rating.value_counts())
# The value_counts gives the various counts of the Ratings
# The reason there are two "R" values is because one of them has a trailing space. That space is counted

R        47
PG-13    39
PG       22
G         5
R         2
NR        2
PG        1
TV-PG     1
Name: Rating, dtype: int64
R        49
PG-13    39
PG       23
G         5
NR        2
TV-PG     1
Name: Rating, dtype: int64

In [42]:
print(myData['TomatometerScore'].describe()) # Can also say myData.TomatometerScore.describe(), the mean the same thing
fixedData = myData.loc[myData.TomatometerScore > 1.0, 'TomatometerScore'] / 100 # The red text means the TomatometerScore column
# Looks at all the rows in which the TomatometerScore is greater than 1
myData.loc[myData.TomatometerScore > 1.0, 'TomatometerScore'] = fixedData 
# Take every row where the TomatometerScore was wrong and replace it with our fixed data
# The .loc means location
print(myData.TomatometerScore.describe())

count    119.000000
mean       0.787059
std        0.218141
min        0.090000
25%        0.715000
50%        0.880000
75%        0.945000
max        0.990000
Name: TomatometerScore, dtype: float64
count    119.000000
mean       0.787059
std        0.218141
min        0.090000
25%        0.715000
50%        0.880000
75%        0.945000
max        0.990000
Name: TomatometerScore, dtype: float64